{% extends "main/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogOut</title>
</head>
<body>
    
        {% block content %}
        <main role="main" class="container-lg"></main>
        <div class="card ">
            
                <div class="card-header pt-5">    
                    <h1 class="text-center">You are Successfully Logged Out</h1>                    
                </div>
                <div class="card-body"></div>
                <p class="text-center">Go to <a href="/login/">Login</a></p>
                </div>
        </div>
    </main>
        {% endblock %}
  
</body>
</html>